body,
html {
    height: 100%;
    margin: 0;
}

.choice1 {
    background-image: url(../src/Data/istockphoto-1043674456-170667a.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
}

.choice2 {
    background-image: url(../src/Data/dead-cliff-road-dead-mysterious-forest-with-three-crows-night-scary-halloween-concept_634053-1690.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;

}

.choice3 {
    background-image: url(../src/Data/ZeLmmv6.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;

}

.choice4 {
    background-image: url(../src/Data/hero-image.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;

}

.choice5 {
    background-image: url(../src/Data/Ghostroad.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;

}


.choice-btn p {
    font-family: "Consolas";
    font-size: 20px;

}

.choice-btn1 {
    position: absolute;
    bottom: 200px;
    left: 125px;
    width: 150px;
    height: 110px;
    border-radius: 25px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 36, 114);
}

.choice-btn1:hover {
    opacity: 1;
    background-color: rgba(167, 0, 0, 0.5);
    color: white
}

.choice-btn2 {
    position: absolute;
    bottom: 200px;
    right: 125px;
    width: 150px;
    height: 110px;
    border-radius: 25px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 36, 114);
}

.choice-btn2:hover {
    opacity: 1;
    background-color: rgba(167, 0, 0, 0.5);
    color: white
}

.choice-btn3 {
    position: absolute;
    bottom: 200px;
    left: 125px;
    width: 150px;
    height: 110px;
    border-radius: 25px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 36, 114);
}

.choice-btn3:hover {
    opacity: 1;
    background-color: rgba(167, 0, 0, 0.5);
    color: white
}

.choice-btn4 {
    position: absolute;
    bottom: 200px;
    right: 125px;
    width: 150px;
    height: 110px;
    border-radius: 25px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 36, 114);
}

.choice-btn4:hover {
    opacity: 1;
    background-color: rgba(167, 0, 0, 0.5);
    color: white
}

.choice-btn5 {
    position: absolute;
    bottom: 200px;
    left: 125px;
    width: 150px;
    height: 110px;
    border-radius: 25px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 36, 114);
}

.choice-btn5:hover {
    opacity: 1;
    background-color: rgba(167, 0, 0, 0.5);
    color: white
}

.choice-btn6 {
    position: absolute;
    bottom: 200px;
    right: 125px;
    width: 150px;
    height: 110px;
    border-radius: 25px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 36, 114);
}

.choice-btn6:hover {
    opacity: 1;
    background-color: rgba(167, 0, 0, 0.5);
    color: white
}

.choice-btn7 {
    position: absolute;
    bottom: 200px;
    left: 125px;
    width: 150px;
    height: 110px;
    border-radius: 25px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 36, 114);
}

.choice-btn7:hover {
    opacity: 1;
    background-color: rgba(167, 0, 0, 0.5);
    color: white
}

.choice-btn8 {
    position: absolute;
    bottom: 200px;
    right: 125px;
    width: 150px;
    height: 110px;
    border-radius: 25px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 36, 114);
}

.choice-btn8:hover {
    opacity: 1;
    background-color: rgba(167, 0, 0, 0.5);
    color: white
}

.choice-btn9 {
    position: absolute;
    bottom: 200px;
    left: 125px;
    width: 150px;
    height: 110px;
    border-radius: 25px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 36, 114);
}

.choice-btn9:hover {
    opacity: 1;
    background-color: rgba(167, 0, 0, 0.5);
    color: white
}

.choice-btn10 {
    position: absolute;
    bottom: 200px;
    right: 125px;
    width: 150px;
    height: 110px;
    border-radius: 25px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 36, 114);
}

.choice-btn10:hover {
    opacity: 1;
    background-color: rgba(167, 0, 0, 0.5);
    color: white
}

.text-card {
    font-family: "Consolas";
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: rgba(18, 14, 14, 0.692);
    color: white;
    width: 50%;
    height: 60%;
    margin: auto;
    border-radius: 20px;
    opacity: 10;

}

.goal-background {
    background-image: url(../src/Data/360_F_86970996_f1tsT2OpheAWVbRukm1A9bcihVy5lGZG.jpg);
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;

}

.congrats {
    color: rgb(0, 0, 0);
    font-family: "Consolas";
    font-size: 32px;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.playagain-btn {
    font-family: "Consolas";
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: #8CB3BC;
    color: rgb(0, 0, 0);

}

.goal {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #76878B;
    margin: auto;
    opacity: 60%;
    height: 387px;
    width: 567px;
    border-radius: 10px;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.exit-btn {
    color: rgb(0, 0, 0);
    background-color: #8CB3BC;
    font-family: "Consolas";
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}